<form id="task-form" class="app-form">

  <div id="task-title-field" class="field">
    <input type="text" name="task[title]" value="<%= task.get("title") %>">
  </div>

  <div id="task-due-date-field" class="field">
    <input type="date" name="task[due]" value="<%= task.get("due") %>">
  </div>

  <div id="task-priority-field" class="field">
    <input type="hidden" id="task-priority-input" name="task[priority]"/>
  </div>

  <div id="task-description-field" class="field">
    <textarea name="task[description]"><%= task.get("description") %></textarea>
  </div>

  <div id="task-tags-field" class="field">
    <select data-placeholder="@" class="chosen-select" name='task[tag_ids][]' style="width:100%;" multiple tabindex="4">
      <option value=""></option>
      <% tags.each(function(tag){ %>
        <% var selected = task.get('tags').findWhere({id: tag.get('id')}) ? 'selected' : null %>
        <option value="<%= tag.get('id') %>" <%= selected %>><%= tag.get('name') %></option>
      <% }); %>
    </select>
  </div>

  <div id="task-options" class="app-drop-parent">
    <div class="task-priority-menu app-drop-menu">
      <div class="app-drop-button"><i class="icon-exclamation"></i></div>
      <menu>
      </menu>
    </div>

  <div>

  <div id="task-submit-button" class="submit">
    <input type="submit" value="Add task">
  </div>

</form>

<script>
  $(".chosen-select").chosen()
</script>