<form class="task-form app-form clearfix">

  <div class="task-title-field field">
    <input type="text" name="task[title]" value="<%= task.get("title") %>">
  </div>

  <div class="task-due-date-field field">
    <input type="date" name="task[due]" value="<%= task.get("due") %>">
  </div>

  <div class="task-description-field field">
    <textarea name="task[description]"><%= task.get("description") %></textarea>
  </div>

  <div class="task-tags-field field">
    <select data-placeholder="@" class="chosen-select" name='task[tag_ids][]' multiple tabindex="4">

      <option value=""></option>

      <% tags.each(function(tag){ %>

        <% if( task.tags.length > 0 ){ %>
          <% var selected = task.tags.findWhere({id: tag.get('id')}) ? 'selected' : null %>
        <% } else { %>
          <% var selected = null %>
        <% }%>

        <option value="<%= tag.get('id') %>" <%= selected %>><%= tag.get('name') %></option>

      <% }); %>

    </select>
  </div>

  <div class="task-priority-field field">
    <select name='task[priority]'>
      <option value="">!</option>
      <% _.each([1, 2, 3, 4, 5], function(priority){ %>
        <% var selected = task.get('priority') === priority ? 'selected' : null %>
        <option value="<%= priority %>" <%= selected %>><%= priority %></option>
      <% }); %>
    </select>
  </div>


  <div class="task-submit-button submit">
    <input type="submit" value="Add task">
  </div>

</form>

<script>
  $(".chosen-select").chosen();
</script>