<div class="show clearfix <% if(task.get('completed')){ %>completed<% } %>">

  <input
    class="completed-check toggle"
    type="checkbox"
    name="toggle-task-completed"
    data-toggle="completed"
    <% if(task.get('completed')){ %>
      checked
    <% } %>>

  <article class="body clearfix" >

    <header class="title ddmp ddmpv01 clearfix">
      <div class="title-container clearfix">
        <h4>
          <%= task.get('title') %>
        </h4>
        <% if(task.get('due')){ %>
        <span class="hghlt01 due"><a href="#agenda/<%= task.dueStr() %>"><%= task.dueStr() %></a></span>
        <% }; %>
        <% if(task.get('priority')){ %>
        <span class="hghlt01 priority"><a href="#priority/<%= task.get('priority') %>"><%= task.get('priority') %></a></span>
        <% }; %>
        <span class="notes"><i class="icon-comment"></i><%= task.notes().length %></span>
      </div>
      <%= menuTemplate({ task: task }) %>
    </header>

    <% if( task.has('tags') && task.get('tags').length > 0){ %>
      <div class="tags">
      <% _.each(task.get('tags'), function(tag){ %>
        <a href="#tags/<%= tag.name %>"><%= tag.name %></a>
      <% });%>
      </div>
    <% } %>

    <p class="description"><%= task.get('description') %></p>

  </article>

</div>

<div class="edit clearfix hidden">
  <%= formTemplate({ task: task, tags: tags })%>
</div>

