<ul id="tasks">

  <% tasks.each(function(task){ %>

    <% var id = task.get('id') %>

    <li id="task-<%= id %>" class="task app-drop-parent" data-task-id="<%= id %>">

      <input
        type="checkbox"
        class="toggle-task-completed"
        name="toggle-task-completed"
        <% if(task.get('completed')){ %>
          checked
        <% } %>>

      <%= task.get('title') %>

      <%= menuTemplate({ task: task }) %>

    </li>

    <li class"task">
      <% if(task.get('due')){ %>
        <p>Due: <%= task.get('due') %></p>
      <% } %>

      <p><%= task.get('description') %></p>
    </li>

  <% });%>

</ul>