<ul id="tasks">

  <% tasks.each(function(task){ %>

    <% var id = task.get('id') %>

    <li id="task-<%= id %>" class="task clearfix" data-task-id="<%= id %>">

      <input
        class="toggle-task-completed toggle"
        type="checkbox"
        name="toggle-task-completed"
        data-toggle="completed"
        <% if(task.get('completed')){ %>
          checked
        <% } %>>

      <article class="task-body" class="clearfix" >

        <header class="task-title app-drop-parent">
          <h3>
            <%= task.get('title') %>
            <% if(task.get('due')){ %>
            <span class="task-due"><%= task.get('due_to_s') %></span>
            <% }; %>
            <% if(task.get('priority')){ %>
            <span class="task-due"><%= task.get('priority') %></span>
            <% }; %>
          </h3>

          <%= menuTemplate({ task: task }) %>
        </header>

        <% if( task.get('tags').length > 0 && !( Object.prototype.toString.call(task.get('tags')) === "[object Array]" )){ %>
          <% console.log(task.get('title')) %>

          <div class="task-tags">
          <% task.get('tags').each(function(tag){ %>
            <a href="#"><%= tag.get('name') %></a>
          <% });%>
          </div>
        <% } %>


        <p class="task-description"><%= task.get('description') %></p>

      </article>


    </li>

  <% });%>

</ul>