<div class="task-show show clearfix <% if(task.get('completed')){ %>completed<% } %>">

  <input
    class="toggle-task-completed toggle"
    type="checkbox"
    name="toggle-task-completed"
    data-toggle="completed"
    <% if(task.get('completed')){ %>
      checked
    <% } %>>

  <article class="task-body clearfix" >

    <header class="task-title app-drop-parent">
      <div class="title-container clearfix">
        <h3>
          <%= task.get('title') %>
        </h3>
        <% if(task.get('due')){ %>
        <span class="task-meta"><a href="#agenda/<%= task.dueStr() %>"><%= task.dueStr() %></a></span>
        <% }; %>
        <% if(task.get('priority')){ %>
        <span class="task-meta"><i class="icon-exclamation"></i><a href="#priority/<%= task.get('priority') %>"><%= task.get('priority') %></a></span>
        <% }; %>
        <span class="task-meta task-notes"><i class="icon-comment"></i>
          <%= task.notes() ? task.notes().length : 0 %>
        </span>
      </div>
      <%= menuTemplate({ task: task }) %>
    </header>

    <% if( task.has('tags') && task.get('tags').length > 0){ %>
      <div class="task-tags">
      <% _.each(task.get('tags'), function(tag){ %>
        <a href="#tags/<%= tag.name %>"><%= tag.name %></a>
      <% });%>
      </div>
    <% } %>

    <p class="task-description"><%= task.get('description') %></p>

  </article>

</div>

<div class="task-edit edit clearfix hidden">
  <%= formTemplate({ task: task, tags: tags, cssClass: cssClass })%>
</div>

