<ul id="lists" class="app-sidebar-section">

  <% lists.each(function(list){ %>

    <% var id= list.get('id'); %>

    <li id="list-<%= id %>" class="list" data-list-id="<%= id %>">
      <div class="app-sidebar-item app-drop-parent">
        <a href="#lists/<%= list.get('id') %>">
          <%= list.get('title') %>
          <span class="list-task-count"><%= list.get('tasks').length %></span>
        </a>

        <%= menuTemplate({ list: list }) %>
    </div>

    </li>

  <% }) %>

</ul>