<% var id= list.get('id'); %>

  <div class="list-show show">
    <div class="app-sidebar-item app-drop-parent">
      <a href="#lists/<%= list.get('id') %>">
        <%= list.get('title') %>
        <span class="list-task-count"><%= list.tasks().length %></span>
      </a>

      <%= menuTemplate({ list: list }) %>
    </div>
  </div>

  <div class="list-edit edit hidden">
    <%= formTemplate({list: list, cssClass: cssClass})%>
  </div>

</li>
