<ul id="lists">

  <% lists.each(function(list){ %>

    <% var id= list.get('id'); %>

    <li id="list-<%= id %>" class="list app-drop-parent" data-list-id="<%= id %>">

      <a href="#lists/<%= list.get('id') %>">
        <%= list.get('title') %>
        <span class="list-task-count"><%= list.get('tasks').length %></span>
      </a>

      <%= menuTemplate({ list: list }) %>

    </li>

  <% }) %>

</ul>