<% var id= list.get('id'); %>

  <div class="show">
    <div class="app-sidebar-item ddmp ddmpv01">
      <a href="#lists/<%= list.get('id') %>">
        <%= list.get('title') %>
        <span class="list-task-count"><%= list.tasks().length %></span>
      </a>

      <%= menuTemplate({ list: list }) %>
    </div>
  </div>

  <div class="edit hidden">
    <%= formTemplate({list: list})%>
  </div>

</li>
