<!DOCTYPE html>
<html>
<head>
  <title>Lime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="site-header">
    <ul>
      <% unless user_signed_in? %>
        <li><%= link_to 'Sign Up', new_user_registration_url %></li>
        <li><%= link_to 'Sign In', user_session_url %></li>
      <% else %>
        <li><%= link_to 'Sign Out', destroy_user_session_url, method: :delete%></li>
      <% end %>
    </ul>
  </header>

<%= yield %>

</body>
</html>
