<!DOCTYPE html>
<html>

<head>
  <title>Lime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/logo_small.png">
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'></head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<body>

  <div id='site-content'>

    <header id="app-header" class="clearfix">

      <h1 id="app-logo">Lime</h1>

      <nav id="app-header-nav">
        <ul>
          <% unless user_signed_in? %>
            <li><%= link_to 'Sign Up', new_user_registration_url %></li>
            <li><%= link_to 'Sign In', user_session_url %></li>
          <% else %>
            <!-- <li><%= link_to 'Settings', edit_user_password_url %></li> -->
            <li><%= link_to 'Sign Out', destroy_user_session_url, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </div>

</body>

</html>
