<div class="tag-show app-drop-parent">
  <a href="#tags/<%= tag.get('name') %>"><%= tag.get('name') %></a>
  <span class="tag-task-count"><%= tag.tasks().length %></span>

  <%= menuTemplate({ tag: tag }) %>
</div>

<div class="tag-edit hidden">
  <%= formTemplate({ tag: tag }) %>
</div>
