<div class="show ddmp ddmpv01">
  <a href="#tags/<%= tag.get('name') %>"><%= tag.get('name') %>
    <span class="hghlt01"><%= tag.tasks().length %></span>
  </a>

  <%= menuTemplate({ tag: tag }) %>
</div>

<div class="edit hidden">
  <%= formTemplate({ tag: tag }) %>
</div>
